.canvasContainer>canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.canvasContainer>div {
	position: absolute;
	top: 0;
	left: 0;
}

canvas {
	/*border: solid 1px black;*/
}

.bottomContainer>.bottomItem {
	position: absolute;
	top: 0;
	left: 0;
}

.bottomContainer {
	z-index: -100;
	background-color: black;
}

.bottomContainer .bgi {
	z-index: -90;
}
.bottomContainer .bga {
	z-index: -80;
}
.bottomContainer .transperantDiv {
	z-index: -70;
  background-color: black;
}
.bottomContainer .judgeLine {
	z-index: -60;
}

.canvasMain {
	z-index: 0;
}

.canvasEffectBack {
	z-index: 5;
}

.canvasSlideTrack {
	z-index: 10;
}

.canvasNotes {
	z-index: 20;
}

.canvasEffectOver {
	z-index: 25;
}

.uiContainer {
	z-index: 28;
}

.canvasOver {
	z-index: 30;
}

.canvasKeys {
	z-index: 40;
}

.canvasEvent {
	z-index: 114513;
}
