.canvasContainer {
}

canvas {
  border: solid 1px black;
}

.canvasMain {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.canvasEffectBack {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.canvasSlideTrack {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.canvasNotes {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.canvasEffectOver {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 25;
}

.canvasOver {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
}

.canvasKeys {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
}

.canvasEvent {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 114513;
}
