

.canvasContainer {
}

canvas {
  border: solid 1px black;
}

.canvasMain {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.canvasFloat {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.canvasOver {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
