.mainContainer {
  display: flex;
  justify-content: space-between;
}
.notesTable {
  border-collapse: collapse;
}
.notesTable tr:hover {
  background-color: lightgray;
}
.notesTable td {
  padding-right: 5px;
}
.appearLikeLink {
  text-decoration: underline;
  cursor: pointer;
  color: LinkText;
  color: -webkit-link;
}
.fileInputWrapper > input {
  width: 0;
}
